@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --primary-color: #73AB8D;
    --secondary-color: #B3F5D2;
    --tertiary-color: #F5CBB5;
    --complementary-primary-color: #6C8FA8;
    --complementary-secondary-color: #A9D4F5;
    --white-color: #FCFCFC;
    font: normal normal 16px 'Radio Canada', Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(170deg, var(--complementary-primary-color) 75%, var(--complementary-secondary-color));
}

label {
    display: block;
    text-transform: uppercase;
    font-size: 0.75rem;
}

button {
    font: normal bold 16px 'Radio Canada', Arial, sans-serif;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    font-variant: small-caps;
    color: var(--white-color);
    background: var(--complementary-primary-color);
    border: 4px solid var(--complementary-primary-color);
    cursor: pointer;
    outline: none;
}

button:hover, button:focus {
    background: var(--complementary-secondary-color);
    color: var(--complementary-primary-color);
}

input[type="text"] {
    border: 4px solid var(--complementary-primary-color);
    line-height: 1.5rem;
    outline: none;
}

h1, h2, h3, h4, h5 {
    font-variant: small-caps;
}

section {
    padding: 0 2rem;
    text-align: center;
}

section:first-of-type {
    padding-top: 2rem;
}

section:first-of-type label {
    margin-top: 1rem;
    color: var(--complementary-primary-color);
    font-style: italic;    
}

section:nth-of-type(2) {
    padding-top: 4rem;
}

#spectrolizer {
    position: absolute;
    z-index: -1;
}

#dit {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

#dah {
    height: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

section aside {
    float: left;
    width: 32%;
}